header{
  background-color: #F1E5E1;
  color: #B48F2A;
  padding: 10em;
  position: relative;
}

#primary_nav_wrap
{
	margin-top:15px;
  margin-left: 40%;
}


#menu {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}
#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	line-height:32px;
	padding:0 15px;
	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background
}

#primary_nav_wrap ul li:hover
{
	background:#f6f6f6
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

section{
  max-width: 60em;
  margin: auto;

}

body {
  background-color: #white;
  color: #5C7081;
  margin : 0;
}

.nastyadvert {
  background-image: url(11.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 60vh;
  position: relative; }

  footer{
    background-color: #F1E5E1;
    color: #B48F2A;
    padding: 2em;

  }

  footer a{
    color: #B48F2A;

    }

  .linklist {
    list-style-type: none;
  }

  .linklist li{
    margin: 12px;
}






body {
  margin: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;

}

.box {
  background-color: #F1E5E1;
  color: #fff;
  border-radius: 20px;
  padding: 30px;
  font-size: 150%;

}





.mywork ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    }

.mywork li {
    border: white solid 1em;
    max-width: 30%;
  }

  .mywork img{
    width: 100%;
  }
